/**/

.content {
  text-align: center;
  display: flexbox;
  justify-content: center;
  align-items: center;
}

.hedder {
  background: #00698C;
}

.hedder2 {
  background: #FF9673;
}

/* トップページ */
  #top-page > .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .topImage {
    margin: 100px 30px;
    width: 95%;
  }

  #registerbutton {
    background: #00698C;
    font-size: 18px;
    padding: 15px 70px;
    margin-bottom: 20px;
    letter-spacing: 2px;  
  }

  #kindbutton {
    color: #fafafa;
    background: #FF9673;
    font-size: 18px;
    padding: 15px 70px;    
    margin-bottom: 20px;
    letter-spacing: 2px;  
  }

  #listbutton {
    color: #00698C;
    background: #CFD8DC;
    font-weight: 550;
    padding: 5px 85px;    
    margin-bottom: 20px;
    letter-spacing: 2px;  
  }
  
/* 登録ページ */
  .genre, .topic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }

  .genre > ons-select, .topic > ons-select{
    margin-left: 20px;
    text-align: center;
    margin: 16px;
  }

  .name,  .memo, .ster {
    margin: 20px 0;
  }

  #memo {
    border-color: #7B8D93;
  }

  /* 星入力 */
    
    .evaluation{
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
    }
    .evaluation input[type='radio']{
      display: none;
    }
    .evaluation label{
      position: relative;
      padding: 10px 10px 0;
      color: #ddd;
      cursor: pointer;
      font-size: 50px;
    }
    .evaluation label .text{
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      text-align: center;
      font-size: 12px;
      color: gray;
    }
    .evaluation label:hover,
    .evaluation label:hover ~ label,
    .evaluation input[type='radio']:checked ~ label{
      color: #ffe373;
    }
  
  #sendbutton {
    background: #73DCFF;
    font-size: 18px;
    padding: 5px 20px;
    margin-bottom: 20px;
    letter-spacing: 2px; 
  }
.name, .memo, .ster {
  display: none;
}


/* 一覧ページ */
  .lists {
    margin-top: 10px;
  }

/* 結果ページ */
 .select {
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .select > h1 {
    margin: 0;
    padding-left: 20px;
  }

  .select > ons-select {
    background: #fafafa;
  }

  .sake {
    background: #fafafa;
    opacity: 0.8;
    width: 300px;
    margin: 60px 30px;
  }

  .sake > p {
    text-align: left;
    padding-top: 10px;
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
  }


/* 詳細ページ */
  #detail-page > .content {
    text-align: left;
    margin: 0 20px;    
    font-size: 20px;
  }

  .item {    
  display: flex;
  justify-content: left;
  }



  .memos {    
    margin-bottom: 30px;
  }

  .memos > p {
    margin: 0;
  }
  
  .note {
    background: #fafafa;
    opacity: 0.8;
    width: 300px;
    margin:30px;
    font-size: 16px;
  }

  /* 星表示 */
    .rate {
      position: relative;
      display: inline-block;
      width: 180px;
      height: 36px;
      font-size: 36px;
    }
    .rate:before, .rate:after {
      position: absolute;
      top: 0;
      left: 0;
      content: '★★★★★';
      display: inline-block;
      height: 36px;
      line-height: 36px;
    }
    .rate:before {
      color: #ddd;
    }
    .rate:after {
      color: #ffe373;
      overflow: hidden;
      white-space: nowrap;
    }

    /* .rate0:after {
      width: 0;
    }

    .rate1:after {
      width: 36px;
    }

    .rate1-5:after {
      width: 54px;
    }

    .rate2:after {
      width: 72px;
    }

    .rate2-5:after {
      width: 90px;
    }

    .rate3:after {
      width: 108px;
    }

    .rate3-5:after {
      width: 126px;
    }

    .rate4:after {
      width: 144px;
    }

    .rate4-5:after {
      width: 162px;
    } */

    .rate5:after {
      width: 180px;
    }

    .wrap {
      width: 180px;
      margin: 0 auto;
    }
